<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Article change</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/articles/update">
                <input type="hidden" name="id" value="<%= article.id %>">
                <input class="form-control mb-3" type="text" name="title" value="<%= article.title %>">
                <select name="selectCategories" id="selectCategories" class="form-select mb-3">
                    <% categories.forEach((categories)=>{%>
                        <% if(categories.id == article.category.id){%>
                            <option value="<%= article.category.id %>"selected><%= article.category.title%></option>
                        <%} else {%>
                            <option value="<%= categories.id %>"><%= categories.title %></option>
                            <% }%>
                    <%})%>
                </select>         
                <textarea name="articleBody" id="articleBody" class="form-control mb-3" placeholder="Descreva o artigo..."><%= article.body%></textarea>
                <button class="btn btn-lg bg-dark text-light">Update</button>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#articleBody',
        plugins: 'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'        
    })
</script>