<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>
<div class="container">
    <div class="card mt-4">
        <div class="card-header d-flex justify-content-between">
            <h2>Articles</h2>
            <a href="/admin/articles/new" class="btn btn-lg btn-primary">Create article</a>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th>Category</th>
                        <th>Slug</th>
                        <th>Creation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                <% articles.forEach((articles)=>{ %>
                <tr>
                    <th><%= articles.id %></th>
                    <th><%= articles.title %></th>
                    <th><%= articles.category.slug%></th>
                    <th><%= articles.slug %></th>
                    <th><%= articles.createdAt.toLocaleString('pt-br', {day: 'numeric', month: 'long', year: 'numeric',hour: "numeric", minute: "numeric", second : "numeric"})%></th>
                    <th>
                        <a class="btn btn-sm btn-warning" href="/admin/articles/edit/<%= articles.id%>">Edit</a>
                        <form action="/articles/delete" method="POST" class="d-inline" onsubmit="SubmitModal(event, this)">
                            <input type="hidden" name="id" value="<%= articles.id%>">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </th>
                </tr>
                <%})%>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
<%- include ('../../partials/footer.ejs')%>

<script>
    
    function SubmitModal (event, form){
        event.preventDefault();
        let decision = confirm("Você tem certeza que deseja excluir o Artigo?");

        if(decision) {
            form.submit()
        }

    }
</script>