<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/articles/save" >
                <input class="form-control mb-3" type="text" name="title" placeholder="Defina o título do artigo...">
                <select name="selectCategories" id="selectCategories" class="form-select">
                    <option value="select" disabled selected>Selecione uma Categoria...</option>
                    <%categories.forEach((categories)=>{%>
                        <option value="<%= categories.id %>"><%= categories.title %></option>
                    <%})%>
                </select>
                <textarea name="articleBody" id="articleBody" class="form-control mb-3" placeholder="Descreva o artigo..."></textarea>
                <button class="btn btn-lg bg-dark text-light">Cadastrar</button>
            </form> 
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#articleBody',
        plugins: 'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'        
    })
</script>